

html
{
	margin:0;
	font:1em "Agency FB", serif;
}

head
{
  text-align: center;

  text-decoration-color: #FFFFFF;
  background-color: #FFFFFF;
  
}

body
{
	margin: 0;
	font:1em "Agency FB", serif;
	background-color: #000000;
	text-decoration-color: #FFFFFF;
	width: 100%;
	height: -90%;
}

.body .p
{
	font:1em "Agency FB", serif;
	color: white;
}

.content {
	text-decoration-color: #FFFFFF;
	color: #fff;
	padding:30px;
}

.content .p {
	text-decoration-color: #FFFFFF;
	color: #fff;
}

.nav-main {
	width: 100%;
	background-color:#708090;
	height:70px;
	color:#fff;
}

.nav-main .logo {
	float:left;
	height:35px;
	padding:15px 30px;
	font-size:1.4em;
	line-height: 40px;
}

.nav-main .buttonLogo {
	float:left;
	height:25px;
	padding:-5px 30px;
	font-size:1.2em;
	line-height: 40px;
	text-decoration: none;
	color: white;
}

.nav-main > ul {
	margin:0;
	padding:0;
	float:left;
	list-style-type:none;
}

.nav-main > ul > li {
	float:left;
}

.nav-item {
	display:inline-block;
	padding: 15px 20px;
	height:40px;
	line-height:40px;
	color:#fff;
	text-decoration: none;
}

.nav-item:hover {
	background-color: #444;
}

.nav-content {
	position: absolute;
	top: 70px;
	overflow:hidden;
	background-color:#708090;
	max-height:0;
}

.nav-content a {
	color: #fff;
	text-decoration: none;
}

.nav-content a:hover {
	text-decoration:underline;
}

.nav-sub {
	padding: 20px;
}

.nav-sub ul {
	padding: 0;
	margin: 0;
	list-style-type:none;
}

.nav-sub ul li a {
	display:inline-block;
	padding: 5px 0;
}

.nav-item:focus {
	background-color:#444;
}

.nav-item:focus ~ .nav-content {
	max-height: 400px;
	-webkit-transition:max-height 0.4s ease-in;
	-moz-transition:max-height 0.4s ease-in;
	transition:max-height 0.4s ease-in;
}












#wrap
{
	width: 100%;
	height: 60%;
	position: fixed;
	margin: 18.5% auto 0 auto;
	overflow: visible;
}

#lightings
{

	position: absolute;
	bottom: 5%;
	width: 100%;
}

section
{
	/*border-radius*/
	-webkit-border-radius: 70%;
	-moz-border-radius: 70%;
	border-radius: 70%;
	height: 10%;
	width: 100%;
	position: sticky;
	margin: auto;

}

#one
{
	/*animation*/
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes
one { from {
-webkit-box-shadow: 0 0 250px 20px #473C78;
}

to { -webkit-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-moz-keyframes
one { from {
-moz-box-shadow: 0 0 250px 20px #473C78;
}

to { -moz-box-shadow: 0 0 100px 15px #F72A3B; }
}
@-o-keyframes
one { from {
-o-box-shadow: 0 0 250px 20px #473C78;
}

to { -o-box-shadow: 0 0 100px 15px #F72A3B; }
}

@keyframes
one { from {
box-shadow: 0 0 250px 20px #473C78;
}

to {box-shadow: 0 0 100px 15px #F72A3B; }
}

#two
{
	width: 90%;
	/*animation*/
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes
two { from {
-webkit-box-shadow: 0 0 250px 20px #18C499;
}

to { -webkit-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-moz-keyframes
two { from {
-moz-box-shadow: 0 0 250px 20px #18C499;
}

to { -moz-box-shadow: 0 0 100px 15px #D8F05E; }
}
@-o-keyframes
two { from {
-o-box-shadow: 0 0 250px 20px #18C499;
}

to { -o-box-shadow: 0 0 100px 15px #D8F05E; }
}

@keyframes
two { from {
box-shadow: 0 0 250px 20px #18C499;
}

to { box-shadow: 0 0 100px 15px #D8F05E; }
}

#three
{
	width: 80%;
	/*animation*/
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes
three { from {
-webkit-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -webkit-box-shadow: 0 0 100px 15px #3E33FF; }
}
@-moz-keyframes
three { from {
-moz-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -moz-box-shadow: 0 0 100px 15px #3E33FF }
}
@-o-keyframes
three { from {
-o-box-shadow: 0 0 250px 20px #FFDD00;
}

to { -o-box-shadow: 0 0 100px 15px #3E33FF }
}

@keyframes
three { from {
box-shadow: 0 0 250px 20px #FFDD00;
}

to { box-shadow: 0 0 100px 15px #3E33FF }
}

#four
{
	width: 70%;
	/*animation*/
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes
four { from {
-webkit-box-shadow: 0 0 250px 20px #781848;
}

to { -webkit-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-moz-keyframes
four { from {
-moz-box-shadow: 0 0 250px 20px #781848;
}

to { -moz-box-shadow: 0 0 100px 15px #F2BBE9; }
}
@-o-keyframes
four { from {
-o-box-shadow: 0 0 250px 20px #781848;
}

to { -o-box-shadow: 0 0 100px 15px #F2BBE9; }
}

@keyframes
four { from {
shadow: 0 0 250px 20px #781848;
}

to { shadow: 0 0 100px 15px #F2BBE9; }
}

#five
{
	width: 60%;
	/*animation*/
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes
five { from {
-webkit-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -webkit-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-moz-keyframes
five { from {
-moz-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -moz-box-shadow: 0 0 100px 15px #F4F6AD; }
}
@-o-keyframes
five { from {
-o-box-shadow: 0 0 250px 20px #42F2A1;
}

to { -o-box-shadow: 0 0 100px 15px #F4F6AD; }
}

@keyframes
five { from {
box-shadow: 0 0 250px 20px #42F2A1;
}

to { box-shadow: 0 0 100px 15px #F4F6AD; }
}

p
{
	text-decoration-color: white;
}
